<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      <mat-card>
        <mat-tab-group>
          <!-- [selectedIndex]="1" -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon (click)="deleteNotification()" matListIcon>forum</mat-icon>
              <mat-icon class="icon_display" *ngIf="notification">notifications</mat-icon>
            </ng-template>
            <mat-list class="conversations">
                <mat-list-item *ngFor="let recipient of rooms" (click)="selectedConversation(recipient.name)" [ngClass]="isEvent(recipient.name)">
                    <mat-icon matListIcon style="font-size: 15px;" *ngIf="recipient.isGroup && !recipient.isPrivate">public</mat-icon>
                    <mat-icon matListIcon style="font-size: 15px;" *ngIf="!recipient.isGroup">whatsapp</mat-icon>
                    <mat-icon matListIcon style="font-size: 15px;" *ngIf="recipient.isGroup && recipient.isPrivate">lock</mat-icon>
                    <mat-icon class="icon_display" *ngIf="recipient.notification">notifications</mat-icon>
                    <p *ngIf="recipient.isGroup">{{recipient.name}}</p>
                    <p *ngIf="!recipient.isGroup">{{splitName(recipient.name)}}</p>
                </mat-list-item>
            </mat-list>           
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon matListIcon>people</mat-icon>
            </ng-template>
            <mat-list class="conversations">
              <mat-list-item *ngFor="let user of allUsers" (click)="userToUser(user)">
                  <mat-icon matListIcon style="font-size: 15px;">person</mat-icon>
                  <p>{{user}}</p>
              </mat-list-item>
            </mat-list>
          </mat-tab>

        </mat-tab-group>
      </mat-card>
    </mat-sidenav>
    <mat-sidenav position="end" mode="side" opened *ngIf="activeRoom">
      <mat-card>
        <p class="title">Create a new group</p>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <input matInput mat-input type="text" placeholder="Group name" (keydown.space)="$event.preventDefault()" size="10" [(ngModel)]="newGroup" (keyup.enter)="createNewGroup()">
                    <button mat-icon-button matTooltip="Create a new group" (click)="createNewGroup()" [disabled]="newGroup === ''">
                        <mat-icon>person_add</mat-icon>
                    </button>
                    <mat-slide-toggle matTooltip="Make group private" [(ngModel)]="privateGroup"></mat-slide-toggle>
                    <input matInput style="margin-left: 10px;" [type]="showPass ? 'text' : 'password'" placeholder="Password" (keydown.space)="$event.preventDefault()" size="7" *ngIf="privateGroup" [(ngModel)]="password">
                    <mat-icon matSuffix *ngIf="privateGroup && showPass" (click)="togglePass()">visibility</mat-icon>
                    <mat-icon matSuffix *ngIf="privateGroup && !showPass" (click)="togglePass()">visibility_off</mat-icon>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        
        <mat-list class="members">
          <p class="title" *ngIf="activeRoom.isGroup">Users in group {{activeRoom.name}}</p>
          <p class="title" *ngIf="!activeRoom.isGroup">Users in group {{splitName(activeRoom.name)}}</p>
            <mat-list-item *ngFor="let user of rooms[selectedRoom].users">
              <p>{{user}}</p>
            </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-sidenav>
    <section class="empty-conversation" *ngIf="!activeRoom">
      <h1 class="mat-display-1">Select a conversation from the left to start chatting</h1>
    </section>  
    <section *ngIf="activeRoom">
      <div class="mat-typography conversation-header">
        <h2 *ngIf="activeRoom.isGroup">
            <mat-icon>forum</mat-icon>
              {{activeRoom.name}}
        </h2>
        <h2 *ngIf="!activeRoom.isGroup">
          <mat-icon>forum</mat-icon>
            {{splitName(activeRoom.name)}}
      </h2>
        <p>
            <mat-icon>account_circle</mat-icon>
            {{(activeRoom.users).length}} Members
        </p>
      </div>
      <mat-divider></mat-divider>
      <mat-list dense class="conversation-history mat-typography">
        <ion-grid>
            <ion-row *ngFor="let message of messages[activeRoom.name]">
              <ion-col size="9" *ngIf="message.from !== username" class="message"
                      [ngClass]="{'my_message': message.from === username, 'other_message': message.from !== username}">
                <span class="user_name">{{ message.from }}:</span><br>
                <span>{{ message.text }}</span>
                <div class="time">{{message.created | date:'dd.MM HH:mm'}}</div>
              </ion-col>
        
              <ion-col offset="3" size="9" *ngIf="message.from === username" class="message"
                      [ngClass]="{'my_message': message.from === username, 'other_message': message.from !== username}">
                <span class="user_name">{{ message.from }}:</span><br>
                <span>{{ message.text }}</span>
                <div class="time">{{message.created | date:'dd.MM HH:mm'}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
      </mat-list>
      <div class="conversation-input">
        <mat-divider></mat-divider>
        <mat-form-field class="full-width">
          <input matInput placeholder="Start chatting..." (keyup.enter)="sendChatMessage()" name="text" [(ngModel)]="text">
          <mat-icon matSuffix (click)="sendChatMessage()">send</mat-icon>
          <!-- <mat-icon matSuffix (click)="playAudio()">notifications</mat-icon> -->
        </mat-form-field>
      </div>
    </section>
  </mat-sidenav-container>